#courseOfToday .classTableA,#courseOfToday .classTableB {
    padding: 0.8rem 0.83rem;
    text-align: center;
    height: calc(100% - 1.72rem);
    position: relative;
    background:white url("../../images/courseOfTodyBg.png") no-repeat;
    background-size: 100% 100%;
}


#courseOfToday .classTableB .location,#courseOfToday .classTableB .time,#courseOfToday .classTableB .class_name,#courseOfToday .classTableB .terPic_name {
    font-size: 0.67rem;
    padding-bottom: .5rem;
}
#courseOfToday .classTableB img{
    width: 2.78rem;
    height: 3.89rem;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    padding-bottom: .5rem;

}

#courseOfToday .classTableB .index {
    font-size: 0.78rem;
    margin: 0.56rem 0;
}

#courseOfToday .classTableB .timeNode {
    font-size: 0.5rem;
    color: #3672ed;
    margin-bottom: 0.46rem;
    margin-top: 0.48rem;
}


#courseOfToday .classTableB .name {
    color: #fff;
    font-size: 0.83rem;
    margin: 0 auto;
    background-color: #2868ff;
    border-radius: 25px;
    padding: 0.33rem 0.78rem;
    display: inline-block;
}


