.classTableA {
  padding:0 0.83rem;
  text-align: center;
  position: relative;
  background:white url("../../images/classTableABg.png") no-repeat;
  background-size: 100% 100%;
  font-size: .83rem;
}

.classTableA span{
  color: #F74661;
  font-size: 1.67rem;
}