#classCardHomePage {
  height: 100%;
  width: 100%;
}
#classCardHomePage.noHeader .home_content_index{
  height: 100% !important;
  width: 100% !important;
  padding:0 !important;
  box-sizing: border-box;
}
#classCardHomePage iframe {
  border: none;
  width: 100%;
  display: block;
}
#classCardHomePage .home_right {
  width: 11.72rem;
  float: right;
}
#classCardHomePage .home_left {
  width: 11.72rem;
  float: left;
}
#classCardHomePage .home_center {
  width: calc(100% - 25.1rem);
  float: left;
  margin: 0 0.83rem;
}
#classCardHomePage .home_title {
  font-size: 0.83rem;
  height: 1.67rem;
  line-height: 1.67rem;
  text-align: center;
  margin: 0;
  font-weight: normal;
  color: white;
  position: relative;
}
#classCardHomePage .home_title span{
  min-width: 3.47rem;
  max-width: 15rem;
  padding: 0 1.61rem;
  display: inline-block;
  margin: 0 auto;
  position: relative;
}
#classCardHomePage .home_title span::before{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: .97rem;
  height: 100%;
  background: url("../images/icon_titleLeft.png") no-repeat left center;
  background-size: 100%;
}

#classCardHomePage .home_title span::after{
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  width: .97rem;
  height: 100%;
  background: url("../images/icon_titleRight.png") no-repeat left center;
  background-size: 100%;
}

#classCardHomePage.application_height .home_title::before,[name=notifyDiv] #classCardHomePage .home_title::before{
left: 3rem;
}
#classCardHomePage.application_height .home_title::after,[name=notifyDiv] #classCardHomePage .home_title::after{
  right: 3rem;
}

#classCardHomePage .home_titleMore {
  padding-right: 0.83rem;
  float: right;
  font-size: 0.61rem;
  font-weight: normal;
}
#classCardHomePage i.titleMore {
  background: url("../images/next_s_icon.png") no-repeat center center;
  background-size: .83rem;
  width: 0.83rem;
  height: 100%;
  display: inline-block;
  float: right;
}
#classCardHomePage .home_card {
  border-radius: .11rem;
  color: #2a3350;
  height: 100%;
}
#classCardHomePage .home_cardCont {
  /*background-color: white;*/
  margin: 0 .05rem .05rem .05rem;
  border-radius: .11rem;
  box-sizing: border-box;
  height: calc(100% - 1.72rem);
}
#classCardHomePage .home_contfont {
  font-size: 0.61rem;
  color: #565c72;
}
#classCardHomePage .studentOnDuty_face {
  width: 1.94rem;
  height: 1.94rem;
  text-align: center;
  border-radius: 50%;
  margin: 0 auto 0.28rem auto;
}
#classCardHomePage .studentOnDuty_list {
  width: 2.28rem;
  display: inline-block;
  margin: 0 0.11rem 0.56rem 0.11rem;
  text-align: center;
}
#classCardHomePage .studentOnDuty_name {
  width: 100%;
}

#classCardHomePage .course_height,
#classCardHomePage .moralEducationScore_height {
  height: 10.45rem;
  margin-top: 0.89rem;
}
#classCardHomePage .studentOnDuty_height,#classCardHomePage .currentAttendance_height {
  height: 13.06rem;
}
#classCardHomePage .currentAttendance_height .classTableA {
  height: 8.94rem;
}
#classCardHomePage .classDemeanor_height{
  height: 16.67rem;
}
#classCardHomePage .health_height {
  padding-bottom: 0.83rem;
  width: 100%;
}
#classCardHomePage .notify_height {
  height: 6.9rem;
  margin-top: 0.83rem;
  float: left;
  width: calc(50% - 0.42rem);
  overflow: hidden;
}
#classCardHomePage .application_height {
  height: 6.9rem;
  margin-top: 0.83rem;
  width: calc(50% - 0.42rem);
  float: left;
  margin-right: 0.83rem;
}
#classCardHomePage .health_left {
  margin-left: 0.83rem;
}
#classCardHomePage .font_title2 {
  font-size: 0.76rem;
  color: #2a3350;
}
#classCardHomePage .notify_cont {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  background-color: white;
}
#classCardHomePage .notify_cont.classTableA{
  background:white url("../images/classTableABg.png") no-repeat;
  background-size: 100% 100%;
}
#classCardHomePage .notify_cont .swiper-container{
  overflow: hidden !important;
}
#classCardHomePage .notify_cont li {
  height: 1.7rem;
  line-height: 1.7rem;
  border-bottom: 1px solid #999999;
  margin: 0 0.83rem;
  color: #333;
  font-size: .67rem;
}
#classCardHomePage .notify_cont .swiper-slide:last-child>div li{
  border-bottom: none;
}
#classCardHomePage .moralEducationScore .blue_text {
  font-size: 0.72rem;
  color: #5091fe;
}
#classCardHomePage .blue_text {
  font-size: 0.72rem;
  color: #5091fe;
}
#classCardHomePage .mEScoreInfo {
  position: relative;
  background:white url("../images/courseOfTodyBg.png") no-repeat;
  background-size: 100% 100%;
  padding: 0 .83rem .83rem;
  overflow-y: auto;
  overflow-x: hidden;
}
#classCardHomePage .mEScoreInfoM {
  position: absolute;
  top: 0.53rem;
  width: calc(100% - 1.66rem);
}
#classCardHomePage .mEScore {
  text-align: center;
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -36%);
  width: 100%;
}
#classCardHomePage .mEScoreInfoT {
  width: calc(100% - 1.66rem);
  position: absolute;
  bottom: 1.63rem;
}
#classCardHomePage .mEScoreInfoT > span{
  width: 50%;
  display: inline-block;
  position: relative;
}
#classCardHomePage .mEScoreInfoT span:nth-child(2){
  text-align: right;
}
#classCardHomePage .mEScoreInfoB {
  width: calc(100% - 1.66rem);
  position: absolute;
  bottom: 0.53rem;
}
#classCardHomePage .mEScoreInfo li{
  font-size: .67rem;
  color: #333;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  padding-top: 1rem;
  border-radius: .11rem;
}

#classCardHomePage .blue_big {
  font-size: 2.22rem;
  color: #5091fe;
  margin: 0 0.4rem;
}
#classCardHomePage .class_mien1 {
  padding: 0.83rem 0 0 0;
  overflow: hidden;
}
#classCardHomePage .class_mien1 .slider-list {
  height: 4.17rem !important;
}
#classCardHomePage .class_mien1 .slider-list li {
  height: 100% !important;
}
#classCardHomePage .class_mien2 {
  margin: 0.83rem 0 0 0;
  overflow: hidden;
}
#classCardHomePage .class_mien2 .slider-list {
  height: 7.78rem !important;
}
#classCardHomePage .class_mien2 .slider-list li {
  height: 100% !important;
}
#classCardHomePage .demeanor_list1 {
  height: 5.39rem !important;
  position: relative;
}
#classCardHomePage .demeanor_list2 {
  height: 8.2rem !important;
  position: relative;
  border-top: 1px solid #e5ebf7;
}
#classCardHomePage .application_cont {
  padding: 0.56rem 0.17rem 0 0.06rem;
  height: 6rem;
  overflow-x: hidden;
  overflow-y: auto;
}
#classCardHomePage .app_list {
  width: 2.56rem;
  display: inline-block;
  margin-left: 0.28rem;
  text-align: center;
  margin-bottom: 0.17rem;
}
#classCardHomePage .app_list_img {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 6px;
  background: #cfd3dd;
  margin: 0 auto 0.24rem auto;
}
#classCardHomePage .app_list_img .task {
  width: 1.75rem;
  height: 1.75rem;
  background: url("../images/icon_task.png");
  display: inline-block;
  background-size: 100% 100%;
}
#classCardHomePage .app_list_img .stepNumber {
  width: 1.75rem;
  height: 1.75rem;
  background: url("../images/icon_stepNumber.png");
  display: inline-block;
  background-size: 100% 100%;
}
#classCardHomePage .app_list_img .calorie {
  width: 1.75rem;
  height: 1.75rem;
  background: url("../images/icon_calorie.png");
  display: inline-block;
  background-size: 100% 100%;
}
#classCardHomePage .app_list_img .message {
  width: 1.75rem;
  height: 1.75rem;
  background: url("../images/icon_message.png");
  display: inline-block;
  background-size: 100% 100%;
}
#classCardHomePage .app_list_img .i-excellentStu {
  width: 1.75rem;
  height: 1.75rem;
  background: url("../images/i-excellentStu.png");
  display: inline-block;
  background-size: 100% 100%;
}
#classCardHomePage .app_list_img .i-adminManage {
  width: 1.75rem;
  height: 1.75rem;
  background: url("../images/icon_admin.png");
  display: inline-block;
  background-size: 100% 100%;
}

#classCardHomePage .app_list_img .i-watchTime {
  width: 1.75rem;
  height: 1.75rem;
  background: url("../images/watchTime.png");
  display: inline-block;
  background-size: 100% 100%;
}

#classCardHomePage .app_list_text {
  font-size: 0.61rem;
  width: 100%;
}
#classCardHomePage .notify_list {
  width: calc(100% - 1rem);
  font-size: 0.67rem;
}
#classCardHomePage .demeanor_margin {
  height: 100%;
  position: relative;
}
#classCardHomePage .publicHome_left {
  width: 13.61rem;
  height: 25.28rem;
  float: left;
}
#classCardHomePage .publicHome_left .notify_height {
  margin-left: 0;
  margin-top: 0;
  width: 100%;
  height: 100%;.classTableA
  overflow: hidden;
}
#classCardHomePage .publicHome_left .notify_cont {
  height: 23.6rem;
}
#classCardHomePage .publicHome_center {
  width: calc(100% - 28.88rem);
  margin: 0 0.83rem;
  float: left;
  height: 25.28rem;
}
#classCardHomePage .publicHome_center .course_height {
  height: 100%;
}
#classCardHomePage .publicHome_right {
  width: 13.61rem;
  height: 12.64rem;
  float: right;
}
#classCardHomePage .publicHome_right .currentAttendance_height {
  margin-top: 0;
}
#classCardHomePage .studentOnDuty_cont {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0.58rem .4rem .58rem .83rem;
  position: relative;
  background: white url("../images/honorEmpty.png") no-repeat;
  background-size: 100% 100%;
}


#classCardHomePage .studentOnDuty_cont li{
  width: 2.28rem;
  height: 3.06rem;
  margin-bottom: .28rem;
  margin-right: .28rem;
  float: left;
}
#classCardHomePage .studentOnDuty_cont li img{
  width: 100%;
  height: 2rem;
  object-fit: cover;
  display: block;
}
#classCardHomePage .studentOnDuty_cont li span{
  display: block;
  width: 100%;
  height: .78rem;
  line-height: .78rem;
  color: white;
  font-size: .5rem;
  text-align: center;
  background: -webkit-linear-gradient(left, #F59F32 , #FE7747);
  background: -o-linear-gradient(right, #F59F32, #FE7747);
  background: -moz-linear-gradient(right, #F59F32, #FE7747);
  background: linear-gradient(to right, #F59F32 , #FE7747);
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
#classCardHomePage .studentOnDuty_today {
  color: #2a3350;
  font-size: 0.72rem;
  margin: 0 0 0.83rem 0;
  font-weight: normal;
}
#classCardHomePage .empty_icon {
  width: 3rem;
  height: 3rem;
  margin-bottom: 0.36rem;
  display: inline-block;
  margin-top: -0.5rem;
}
#classCardHomePage .empty_text {
  font-size: 0.56rem;
  color: #959ab1;
  text-align: center;
}
#classCardHomePage .empty_currentAttendance {
  background: url("../images/empty_currentAttendance.png") no-repeat;
  background-size: 100%;
}
#classCardHomePage .empty_activity {
  background: url("../images/empty_activity.png") no-repeat;
  background-size: 100%;
}
#classCardHomePage .empty_honor {
  background: url("../images/empty_honor.png") no-repeat;
  background-size: 100%;
}
#classCardHomePage .empty_moralEducationScore {
  background: url("../images/empty_moralEducationScore.png") no-repeat;
  background-size: 100%;
}
#classCardHomePage .empty_notify {
  background: url("../images/empty_notify.png") no-repeat;
  background-size: 100%;
}
#classCardHomePage .empty_course {
  background: url("../images/empty_course.png") no-repeat;
  background-size: 100%;
}
#classCardHomePage .publicempty_icon {
  width: 6rem;
  height: 6rem;
  margin-bottom: 0.36rem;
  display: inline-block;
  margin-top: -1rem;
}
#classCardHomePage .home_content_index {
  height: calc(100% - 4.72rem) !important;
  padding-top: 0.83rem;
}
#classCardHomePage .index_health #health.home_content {
  width: 100%;
  background: none;
  padding: 0;
  display: inline-block;
  height: 12.22rem !important;
  float: left;
}
#classCardHomePage .index_health .index_center_l {
  width: calc(50% - 0.42rem);
  float: left;
  position: relative;
}
#classCardHomePage .health_home_titleMore1 {
  position: absolute;
  right: 0;
  top: 0.54rem;
}
#classCardHomePage .health_home_titleMore2 {
  position: absolute;
  right: 0;
  top: 13.64rem;
}
#classCardHomePage .index_center_r {
  width: calc(50% - 0.42rem);
}
#classCardHomePage .index_health #health.home_content:nth-child(2) {
  margin-top: 0.83rem;
}
#classCardHomePage .index_health #health.home_content .inner_bg {
  padding: 0;
}
#classCardHomePage .index_health #health.home_content .inner_bg .navBar {
  font-size: 0.72rem;
  padding: 0.56rem 0 0.33rem 0.83rem;
  height: 0.8rem;
  line-height: 1;
}
#classCardHomePage .index_health #health .health_cont {
  margin: 0.2rem 0 0.3rem 0.2rem;
  padding: 0;
  height: calc(100% - 2.2rem) !important;
}
#classCardHomePage .index_health #health .health_cont .photoItem {
  width: 3.39rem;
  margin-right: 0.2rem;
  margin-bottom: 0rem;
  margin-top: 0.28rem;
}
#classCardHomePage .index_health #health .health_cont .photoItem .imgDiv {
  width: 2.11rem;
  height: 2.11rem;
  margin-top: 0;
  border: 0.08rem #f2f2f2 solid;
}
#classCardHomePage .index_health #health .health_cont .photoItem .step_number {
  width: 100%;
}
#classCardHomePage .index_health #health .firstClass,
#classCardHomePage .index_health #health .secondClass,
#classCardHomePage .index_health #health .thirdClass {
  width: 2.75rem;
  height: 2.75rem;
  top: -0.34rem;
}
#classCardHomePage .index_health #health .photoItem .studentName {
  font-size: 0.56rem;
  color: #444e6f;
}
#classCardHomePage .index_health #health .photoItem .step_number {
  font-size: 0.72rem;
  margin-top: 0.28rem;
}
#classCardHomePage .index_health #health .photoItem .step_number .step_number_s {
  font-size: 0.44rem;
  padding-left: 0;
}
#classCardHomePage #videoPlayerMask {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;

}
#classCardHomePage #imgPlayerMask {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#classCardHomePage #videoPlayerMask video,#imagePlayerAr ,#imagePlayer{
  max-width: 90%;
  max-height: 90%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#classCardHomePage #videoPlayerMask .close,
#classCardHomePage #imgPlayerMask .close
 {
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  background:url("../images/icon_closeVideo.png") no-repeat;
  background-size: 100%;
  width: 30px;
  height: 30px;
  font-size: 0;
  cursor: pointer;
}
.close_box{
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
  padding: 15px 15px;
}
#classDemeanorWrap{
  height: 100%;
}
.classDemeanor {
  height: 100% !important;
}

.classReward {
  margin: 0.83rem 0 0 0;
  height: 6.22rem !important;
}

#classDemeanorWrap .swiper-slide img,#classDemeanorWrap video{
  width: 100% !important;
  height: 100%!important;
  object-fit: cover!important;
  -webkit-object-fit: cover!important;
}
#classDemeanorWrap .swiper-slide i{
  background:url("../images/videoClick.png") no-repeat;
  background-size: 100%;
  width: 2rem;
  height: 2rem;
  display: block;
  position: absolute;
  top:50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: 10;
  font-size: 0;
}

#classCardHomePage #classDemeanor .videoDiv {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #000;
  overflow: hidden;
}
#classCardHomePage #classDemeanor .videoDiv video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#classCardHomePage #classDemeanor .videoDiv i {
  background: url("../images/videoClick.png") no-repeat;
  background-size: 100%;
  width: 36px;
  height: 36px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
}
#classCardHomePage .studentOnDuty-wrap {
  height: 13.06rem;
  width: 100%;
}
#classCardHomePage .moralEducationScore-wrap {
  height: 10.45rem;
}
.iframe-body{
  background: transparent;
}
::-webkit-scrollbar {
  width: 5px;
  height: 12px;
}
/* 这是针对缺省样式 (必须的) */
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 9px;
  -webkit-border-radius: 9px;
}
/* 滑块颜色 */
::-webkit-scrollbar-button {
  background-color: initial;
}
/* 滑轨两头的监听按钮颜色 */
/* ::-webkit-scrollbar-corner {
      background-color: none;
} 横向滚动条和纵向滚动条相交处尖角的颜色 */

/*共享班牌*/
#classCardHomePage.watchHome_card .commonCard{
    border-radius: .33rem;
    box-sizing: border-box;
    background-color: rgba(255,255,255,.85);
    font-size: .67rem;
    color: #333;
    line-height: 1.5;
    padding-bottom: .83rem;
    padding-top: .83rem;
}
#classCardHomePage.watchHome_card #schoolContent{
  height: 100%;
}
#classCardHomePage.watchHome_card .home_content_inner{
  width: 100% !important;
  height: 100% !important;
  padding: 0;
}
#classCardHomePage.watchHome_card .watchHome_left{
    float: left;
    width: 11.81rem;
    height: 25.28rem;
}
.watchHome_card h1{
    font-size: 1rem;
    color: #333;
    margin-top: 0;
    font-weight: normal;
    line-height: 1;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0.83rem;
    margin-left: .83rem;
}
.watchHome_card .commonCard > div{
    height: calc(100% - 1.87rem);
    overflow-y: auto;
    box-sizing: border-box;
    padding: 0 .83rem;
}
.watchHome_left h1{
    background: url("../images/icon_watch_school.png") no-repeat left center;
    background-size: .85rem;
    padding-left: 1.45rem;
}
.watchHome_center{
    float: left;
    width: calc(100% - 25.28rem);
    margin: 0 .83rem;
}
.watchHome_center h1{
    background: url("../images/icon_watch_notify.png") no-repeat left center;
    background-size:1.04rem;
    padding-left: 1.6rem;
    margin-bottom: 0.56rem;
}
.watchHome_center .banner{
    height: 17.23rem;
    margin-bottom: 0.83rem;
    border-radius: .33rem;
    overflow: hidden;
}
.watchHome_center .banner img{
    width: 100%;
    height: 100%;
}
.watchHome_card .notifyCont{
    height: 7.22rem;
}
#classCardHomePage.watchHome_card .notify_cont{
  height: calc(100% - 1.6rem);
}
#classCardHomePage.watchHome_card .notify_cont li{
  padding: 0  ;
  height: 1.44rem;
  line-height: 1.44rem;
  border-bottom:1px #999 dashed;
  font-size: .67rem;
  color: #333;
}
#classCardHomePage.watchHome_card .notify_cont li .notify_titleMore{
  height: 1.44rem;
  background: url("../images/next_s_icon.png") no-repeat center center;
  background-size: .83rem;
  margin-top: 0;
}
#classCardHomePage .villageSelect{
  justify-content: center;
}

#classCardHomePage .villageSelect .item{
  background: -webkit-linear-gradient(left, #F59F32 , #FE7747);
  background: -o-linear-gradient(right, #F59F32, #FE7747);
  background: -moz-linear-gradient(right, #F59F32, #FE7747);
  background: linear-gradient(to right, #F59F32 , #FE7747);
  width: 22.22rem;
  height: 11.8rem;
  margin: 0 .89rem .89rem;
  border-radius: .11rem;
  box-sizing: border-box;
  padding: .05rem .05rem 0;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

#classCardHomePage .villageSelect .item img{
  width: 100%;
  height: 10.08rem;
  object-fit: cover;
  display: block;
}
.watchHome_card .watchHome_right{
    float: right;
    width: 11.81rem;
    height: 25.28rem;
}
.watchHome_right h1{
    background: url("../images/icon_watch_teacher.png") no-repeat left center;
    background-size:1.36rem;
    padding-left:1.84rem;
}
.watchHome_right img{
    width: 3.56rem;
    height: 4.15rem;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
}
.watchHome_right .listCont .item{
    padding-left: 4.39rem;
    position: relative;
    margin-bottom: .83rem;
    height: 4.15rem;
}
.watchHome_right .listCont .item:last-child{
  margin-bottom: 0;
}
.watchHome_right .listCont .teacherName{
    font-size: .67rem;
    width: 100%;
    line-height: 1.2;
}
.watchHome_right .listCont .info{
    font-size: .56rem;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}
.mask{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,.5);
  display: none;
}
#leftPanel ul{
  margin-top: .45rem;
  overflow-y: auto;
  height: calc(100% - 1.87rem);
}
#leftPanel li{
  height: 2.44rem;
  line-height: 2.44rem;
  font-size: .83rem;
  padding-left: 2.53rem;
  position: relative;
}
#leftPanel li::before{
  content: '';
  position: absolute;
  left: 1.22rem;
  width: 0.33rem;
  height: 0.33rem;
  background-color: rgba(35, 177, 243,0.2);
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 50%;
}
#leftPanel li.active{
  background-color: rgba(223, 242, 254,.6);
  color: #0066FF;
}
#leftPanel li.active::before{
  background-color: #3c58d9;
}
.watchHome_left .schoolInfo{
  text-align: justify;
}