.verticalHome .studentOnDuty-wrap, .verticalHome .moralEducationScore-wrap, .vertical-Today-course, .vertical-attendance{
    width: 50% !important;
    display: inline-block;
    box-sizing: border-box;
}
.verticalHome .studentOnDuty-wrap, .verticalHome .moralEducationScore-wrap{
    padding-right: 0.415rem;
    float: left;
    padding-left: 0 !important;
}
.verticalHome .moralEducationScore-wrap, .vertical-Today-course, .vertical-attendance{
    padding-left: 0.415rem;
}
.vertical-classStyle{
    width: 100%;
    margin-top: 0.83rem;
}
.vertical-firstLine, .vertical-firstLine .studentOnDuty-wrap, .vertical-firstLine .studentOnDuty_height, .vertical-firstLine .vertical-Today-course, .vertical-firstLine .course_height{
    /*height: 12.78rem !important;*/
    height: 11.07rem !important;

}
.vertical-firstLine #classCardHomePage .studentOnDuty_cont, .vertical-firstLine #courseOfToday .classTableA{
    height: 9.9rem !important;
}
.vertical-thirdLine{
    height:10rem
}
.vertical-fourLine{
    height: 9.16rem;
}
.vertical-courseOfToday{
    height: 100%;
}
.verticalHome .currentAttendance_height, .verticalHome .moralEducationScore_height, .verticalHome .moralEducationScore-wrap{
    height: 9.17rem !important;
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    html {
        font-size: 18px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 900px) {
    html {
        font-size: 22px;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1024px) {
    html {
        font-size: 26px;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1079px) {
    html {
        font-size: 30px;
    }
}
@media only screen and (min-width: 1080px) {
    html {
        font-size: 36px;
    }
}

