.verticalHome .studentOnDuty-wrap, .verticalHome .moralEducationScore-wrap, .vertical-Today-course, .vertical-attendance{
    width: 50% !important;
    display: inline-block;
    box-sizing: border-box;
}
.verticalHome .studentOnDuty-wrap, .verticalHome .moralEducationScore-wrap{
    padding-right: 0.415rem;
    float: left;
    padding-left: 0 !important;
}
.verticalHome .moralEducationScore-wrap, .vertical-Today-course, .vertical-attendance{
    padding-left: 0.415rem;
}
.vertical-classStyle{
    width: 100%;
    margin-top: 0.83rem;
}
.vertical-firstLine, .vertical-firstLine .studentOnDuty-wrap, .vertical-firstLine .studentOnDuty_height, .vertical-firstLine .vertical-Today-course, .vertical-firstLine .course_height{
    height: 12.78rem !important;
}
.vertical-firstLine #classCardHomePage .studentOnDuty_cont, .vertical-firstLine #courseOfToday .classTableA{
    height: 9.9rem !important;
}
.vertical-thirdLine{
    height:12.61rem
}
.vertical-fourLine{
    height: 9.16rem;
}
.vertical-courseOfToday{
    height: 100%;
}

/*班牌屏幕适配*/
@media only screen and (min-width: 768px) and (max-width: 799px) {
    html {
        font-size: 36px;
    }
}
@media only screen and (min-width: 800px) and (max-width: 1023px) {
    html {
        font-size: 36px;
    }
}
@media only screen and (max-width: 1499px) and (min-width: 1024px) {
    html {
        font-size: 36px;
    }
}
@media only screen and (min-width: 1500px) and (max-width: 1919px) {
    html {
        font-size: 36px;
    }
}
@media only screen and (min-width: 1920px) {
    html {
        font-size: 36px;
    }
}